button {
    background-color: black;
    color: #fff;
    display: flex;
    height: 40px;
    margin: 0 0 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: black;
        border: solid 2px black;
    }


    &.google-sing-in {
        background-color: #4285f4;

        &:hover {
            background-color: #fff;
            color: black;
            border: solid 2px black;
        }
    }

    &.inverted {
        background-color: white;
        color: black;
        display: flex;
        height: 40px;
        margin: 0 0 10px;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: solid 2px black;
        width: 100%;
        cursor: pointer;

        &:hover {
            background-color: black;
            color: white;
            border: solid 2px white;
        }
        
    }

    
}